<style>
    nav {
        padding: 20px;
        background-color: rgb(74, 77, 255);
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    a {
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(247, 163, 85);
    }
</style>

<nav>
    <h1>Logo</h1>
    <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </div>
</nav>